.inline-element
{
    background-color: aqua;
    border-color: black;
    border-style: solid;
    display: block;
}


.block-element
{
    background-color: brown;
    border-color: black;
    border-style: solid;
}

.inline-block-example
{
    background-color: brown;
    border-color: black;
    border-style: solid;
    display: inline;
}