
/**{
    border: 1px solid red !important;
}*/


*{background: rgb(10, 10, 10)}

@media only screen and (max-width:500px) {p{display:none;}}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.index-heading
{
    background: orangered;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 28pt;
    font-family: 'Kumar One Outline', cursive;
}

.about-me-title{
color: gray;
margin-top: 60px;


}

.navigation-bars
{background: beige;
    text-decoration: underline;
    margin-top:15px;
margin-bottom: 15px;}

.navigation-bars-about-me
{
    background: rgb(165, 74, 32);
    text-decoration: underline;
    margin-top:15px;
    margin-bottom: 15px;
}





.tech-blogs
{
    margin-top:60px;
margin-bottom: 60px;}

.cultural-blogs
{margin-top:   60px;
margin-bottom: 60px;}

.index-image
{
    background: orangered;
    margin-top:60px;
 margin-bottom: 60px;
}


.row{width:100%;
    display: flex; flex-wrap: wrap;}

.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%}

.about-me{
    color: rgb(165, 74, 32);
    font-family: 'Patua One', cursive;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top:60px;
}

#inline-blog-title
{
    color: orangered;
    margin-top: 60px;
    margin-bottom: 60px;

}

.inline-blog-body
{
    color: rgb(96, 185, 185);
    font-size: 20px;
    margin-bottom: 60px;
    font-weight:300;
}

.css-codes
{
    color: red;
    font-weight: 400;
}

.inline-terms
{
    text-decoration: underline;
    font-weight: 600;
}

.inline-blog-img
{
    margin-top: 30px;
}

.sprint2-tech-blog-page
{
    margin-bottom:  400px;
}

.blog-question{
    color: rgb(76, 0, 255);
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size:25px;
}

.blog-sub-question{
    color: rgb(78, 99, 155);
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size:20px; 
}
.control-flow-table{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.control-flow-table,.control-flow-th,.control-flow-td
{
    color: white;
    border: 2px solid white;
    border-collapse:boarder-collapse;
}

.control-flow-function
{
    color: orangered;
    margin-top:1px;
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: 400;
}
.control-flow-function-wash  {color:green; font-size: 16px;font-weight: 400;}
.control-flow-function-rinse {color:blueviolet; font-size: 16px;font-weight: 400;}
.control-flow-function-spin  {color:blue; font-size: 16px;font-weight: 400;}

.tech-quotes{
    font-size: 20px;
    color: orange;
    font-style: italic;
}

.inline-blog-body ul li {
    margin-top: 30px;
    margin-bottom: 30px;
}

.inline-blog-body ul li span{
    color: greenyellow;
}