#cultrual-blog-title
{
    color: orangered;
    margin-top: 60px;
    margin-bottom: 30px;
}


.cultrual-blog-body
{
    margin-bottom: 400px;
}



.cultrual-blog-subtitle
{
    color: darkslategrey;
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;


}

.cultrual-blog-questions
{
    color: darkslategrey;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.cultrual-blog-paragraphs
{
    color: darkslategrey;
    font-size: 20px;
    font-weight: 300;
}

.words-from-friend
{
    color: darkslategrey;
    font-size: 20px;
    font-weight: 600;
}