#cultrual-blog-title
{
    color: orangered;
    text-decoration: underline;
    margin-top: 60px;
    margin-bottom: 60px;
}


.cultrual-blog-body
{
    margin-bottom: 400px;
}



.cultrual-blog-subtitle
{
    color: orangered;
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 40px;


}

.cultrual-blog-questions
{
    color: rgb(185, 124, 96);
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cultrual-blog-paragraphs
{
    color:  rgb(96, 185, 185);
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
   
    
}

.words-from-friend
{
    color: rgb(155, 179, 179);
    font-size: 25px;
    font-weight: 600;
}

.refer-to-blog{
    color: rgba(169, 169, 169, 0.295);
    font-size: 20px;
    font-weight: 400;    
}

.refer-to-blog a{
    color: rgba(169, 169, 169, 0.295);
    text-decoration-line: underline;
    font-size: 20px;
    font-weight: 400; 
}